body {
  overflow: hidden;
}

.scene {
  width: 2000px;
  height: 2000px;
  perspective: 2000px;
}

.container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  /* transition: transform 1s linear; */
  cursor: pointer;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(1000px);
  background: rgba(0, 0, 0, 0.3);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(1000px);
  background: rgba(0, 255, 0, 1);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(1000px);
  background: rgba(196, 0, 0, 0.7);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(1000px);
  background: rgba(0, 0, 196, 0.7);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(1000px);
  background: black;
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(1000px);
  background: black;
}
